* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    height: 2000px;
}

.one {
    height: 50px;
    width: 100%;
    background-color: #f44336d4;
    position: fixed;
    z-index: 2;
}

.link {
    float: right;
    margin: 0 15px;
    color: white;
    text-decoration: none;
    margin-top: 15px;

}

.link:hover {
    color: #000;
}

.img1 {
    width: 85px;
    height: 50px;
    margin-left: 75px;
}

.two {
    background-image: url("../picture/اعلان-عن-تخفيضات-ملابس.jpg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
}

.two .info {
    padding: 40vh 15vh;
}

.info span {
    color: wheat;
    line-height: 15px;
    margin: 15px;
}

.info a {
    color: black;
    border: solid 2px #f44336d4;
    display: inline-block;
    margin: 15px;
    border-radius: 15px;
    padding: 2px;
    font-size: 20px;
    transition: all ease 2s;
    text-decoration: none;
    font-weight: 700;
    background-color: white;
}

.info a:hover {
    scale: 1.5;
}

.info p {
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 150px;
    letter-spacing: 5px;


}

/* 
.overlay {
    width: 100%;
    height:150vh;
    background-color: black;
    opacity: 0.4;
} */

.p1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 100px;
    margin-top: 50px;
}

.three {
    background-color: #f44336d4;
    height: 5px;
    margin: auto;
    width: 100px;
    margin-bottom: 50px;

}

.box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}


.box .b1 {
    margin: 20px 10px;
    border: solid 3px blueviolet;
    width: 350px;
    border-radius: 20px;
    position: relative;



}

.box2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.box2 .b2 {
    margin: 20px 10px;
    width: 350px;
    /* border-radius: 20px; */
    position: relative;



}

.b2 .catigoryImg {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.catigoryp {
    font-size: 40px;
    margin-left: 120px;
    color: #f44336d4;
}

.box .b1 ::after {
    content: " ";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    border-radius: 20px;
    position: absolute;


}

.box .b1 :hover::after {
    width: 100%;
    height: 100%;
    transition: 1s;

}

.icon {
    font-size: 35px;
    text-align: center;
    color: #f44336d4;
    margin-top: 15px;

}

.text1 {
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;

}

.text2 {
    text-align: center;
    font-size: 15px;
    margin-top: 12px;
    font-weight: lighter;


}

div .link2 a {
    text-decoration: none;
    color: #f44336d4;
}

.link2 {
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    margin-top: 15px;
}

div .link2 a:hover {
    color: burlywood;
}


.p {
    text-align: center;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 15px;
    margin-top: 40px;
}

.section1,
.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;

}

.parent1,
.parent2,
.parent3 {
    width: 300px;
    height: 250px;
    margin-left: 50px;
    float: left;
    position: relative;
    box-shadow: 1px 2px 5px 3px #f44336d4;
    margin-top: 30px;
    border-radius: 6px;
}

.parent4,
.parent5,
.parent6 {
    width: 300px;
    height: 250px;
    margin-left: 50px;
    float: left;
    position: relative;
    margin-top: 30px;
    border-radius: 6px;
    box-shadow: 1px 2px 5px 3px #f44336d4;

}


.img {
    width: 250px;
    height: 250px;
    transition: 0.5s;


}

.parent1::after,
.parent2::after,
.parent3::after,
.parent4::after,
.parent5::after,
.parent6::after {
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    position: absolute;

}

.parent1:hover:after,
.parent2:hover:after,
.parent3:hover:after,
.parent4:hover:after,
.parent5:hover:after,
.parent6:hover:after {
    transition: 1s;
    opacity: 0.5;
}

.text {
    position: absolute;
    text-align: center;
    top: 100px;
    left: 90px;
    visibility: hidden;
    z-index: 1;
}

.text h3 {
    font-size: 30px;
    color: aquamarine;


}

.text p {
    color: white;
    margin-top: 5px;
    font-size: 20px;
}

.text i {
    font-size: 25px;
    color: aquamarine;
    margin-top: 5px;

}

.parent1:hover .text,
.parent2:hover .text,
.parent3:hover .text,
.parent4:hover .text,
.parent5:hover .text,
.parent6:hover .text {
    visibility: visible;
}

body {
    height: 4000px;
}

.lastsection {
    margin: 50px;
    position: relative;
}


.line {
    width: 100px;
    height: 5px;
    background-color: #f44336d4;
    margin-top: 5px;
    margin-bottom: 10px;
}

.lastsection h2 {
    font-size: 60px;
    font-weight: 600;

}

.lastsection p {
    font-weight: lighter;
    line-height: 25px;
    margin-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lastimg {
    /* float: right; */
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 1px 2px 5px 3px #f44336d4;
    width: 400px;
    height: 290px;
    margin-top: 30px;


}

.icon1 {
    color: yellow;
    border: solid yellow 1px;
    margin-right: 5px;
    border-radius: 3px;
    margin-bottom: 5px;

}

.list {
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}
